<h1>Gamers Paradise</h1>
<br />
<form class="signup" (ngSubmit)="signUpUser()" [formGroup]="signUpForm">
  <label for="username">Email</label>
  <input
    id="username"
    name="username"
    type="email"
    autocomplete="email"
    placeholder="Email"
    formControlName="username"
  />
  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    type="password"
    autocomplete="new-password"
    placeholder="Password"
    formControlName="password"
    [attr.pattern]="passwordRegex"
    [attr.minlength]="passwordMinLength"
  />
  <label for="confirm-password">Confirm password</label>
  <input
    id="confirm-password"
    name="confirm-password"
    type="password"
    autocomplete="new-password"
    placeholder="Confirm password"
    formControlName="confirmPassword"
    [attr.pattern]="passwordRegex"
    [attr.minlength]="passwordMinLength"

  />

  <app-success-message
    *ngIf="successMessage"
    [successMessage]="successMessage"
  ></app-success-message>

  <app-error-message
    *ngIf="errorMessage"
    [errorMessage]="errorMessage"
  ></app-error-message>

  <button class="primary" type="submit">Sign up</button>
</form>
<br />
<p class="login-link">
  Have an account? <a class="link" routerLink="/{{ loginLink }}">Login</a>
</p>
