<div class="login-wrapper">
  <h1>Welcome to Gamers Paradise</h1>
  <app-logo></app-logo>
  <br />
  <form (ngSubmit)="loginUser()" [formGroup]="loginForm">
    <label for="username">Email</label>
    <input
      id="username"
      name="username"
      type="email"
      autocomplete="email"
      placeholder="Email"
      formControlName="username"
    />
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      autocomplete="current-password"
      placeholder="Password"
      formControlName="password"
    />
    <app-error-message
      *ngIf="errorMessage"
      [errorMessage]="errorMessage"
    ></app-error-message>
    <button [disabled]="!loginForm.valid" class="primary" type="submit">
      <ng-container *ngIf="loading; else loginText">
        Logging you in ...
      </ng-container>
      <ng-template #loginText>Login</ng-template>
    </button>
  </form>
  <br />
  <p>Don't have an account? <a class="link" routerLink="/signup">Sign up</a></p>
</div>
