

.game-card_title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.game-card_image {
  width: 100%;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: 1rem;
}

.game-card_price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.game-card_author {
  font-style: italic;
}

.game-card_description {
  margin: 1rem 0;
}

.game-card_link {
}
