/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2f3061;
  --secondary-color: #5f5980;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

li {
  list-style: none;
}

input[type="email"],
input[type="password"] {
  display: block;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.error-message,
.success-message {
  max-width: 11rem;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  margin-top: 0.5rem;
}

.link {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  margin-top: 0.5rem;
  cursor: pointer;

  &:hover {
    background: var(--secondary-color);
  }
}

button.primary:disabled {
  background-color: gray;
}
